
/* Custom */
.m0{margin:0}
.p0{padding:0}
.txtcenter{text-align:center}

/* ANIMATION */
@keyframes spin{from{transform:rotate(0)}to{transform:rotate(360deg)}}

.head1 {
  margin: 0 0 15px
  }
.head1 img {
  width: 200px;
  height: auto;
  padding: 5px 5px 0;
  pointer-events: none;
  }
.head1 h1 {
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  margin:0;
  padding:0;
  }

.nav1 ul {
  text-align:center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display:flex;
  justify-content:center;
}
.nav1 li {
  background-color: #0f9d58;
  float: left;
}
.nav1 li a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 12px 12px;
  text-decoration: none;
  cursor:none
}
.nav1 li a:hover, .post-container li a:hover {
  text-decoration: underline;
}

.nav1_tools:after,.nav1_embed:after{content:'';display:inline-block;background-position:center;background-repeat:no-repeat}
.nav1_tools:after{background-image:url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12,15.5A3.5,3.5 0 0,1 8.5,12A3.5,3.5 0 0,1 12,8.5A3.5,3.5 0 0,1 15.5,12A3.5,3.5 0 0,1 12,15.5M19.43,12.97C19.47,12.65 19.5,12.33 19.5,12C19.5,11.67 19.47,11.34 19.43,11L21.54,9.37C21.73,9.22 21.78,8.95 21.66,8.73L19.66,5.27C19.54,5.05 19.27,4.96 19.05,5.05L16.56,6.05C16.04,5.66 15.5,5.32 14.87,5.07L14.5,2.42C14.46,2.18 14.25,2 14,2H10C9.75,2 9.54,2.18 9.5,2.42L9.13,5.07C8.5,5.32 7.96,5.66 7.44,6.05L4.95,5.05C4.73,4.96 4.46,5.05 4.34,5.27L2.34,8.73C2.21,8.95 2.27,9.22 2.46,9.37L4.57,11C4.53,11.34 4.5,11.67 4.5,12C4.5,12.33 4.53,12.65 4.57,12.97L2.46,14.63C2.27,14.78 2.21,15.05 2.34,15.27L4.34,18.73C4.46,18.95 4.73,19.03 4.95,18.95L7.44,17.94C7.96,18.34 8.5,18.68 9.13,18.93L9.5,21.58C9.54,21.82 9.75,22 10,22H14C14.25,22 14.46,21.82 14.5,21.58L14.87,18.93C15.5,18.67 16.04,18.34 16.56,17.94L19.05,18.95C19.27,19.03 19.54,18.95 19.66,18.73L21.66,15.27C21.78,15.05 21.73,14.78 21.54,14.63L19.43,12.97Z' fill='%23fff'/%3E%3C/svg%3E");width:20px;height:20px;margin:0 0 0 5px;vertical-align:-5px;}
.nav1_tools:after {
  animation: spin 5s linear infinite
}
.nav1_embed:after{background-image:url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.6,16.6L19.2,12L14.6,7.4L16,6L22,12L16,18L14.6,16.6M9.4,16.6L4.8,12L9.4,7.4L8,6L2,12L8,18L9.4,16.6Z' fill='%23fff'/%3E%3C/svg%3E");width:20px;height:20px;margin:0 0 0 5px;vertical-align:-5px;}

/* Header */
.profile-about h1 {
  
  }
.profile-about p {
  margin:15px 0 15px;
  }

/* end custom */

:root {
    --bg-color: #fafafa;
    --bg-hover-color: #ececec;
    --body-bg: #fff;
    --primary-font-color: #000;
    --border-color: #dadada;
}

[data-theme="dark"] {
  --bg-color: #161f29;
  --bg-hover-color:#36404c;
  --body-bg: #10171e;
  --primary-font-color: #bfbfbf;
  --border-color: #6a6a6a;
}

body{
  font-family: "Google Sans",sans-serif;
  font-weight: 300;
  background: var(--body-bg);
  color: var(--primary-font-color);
  margin: 0;
  padding: 5px;
}
.container{
  display: flex; 
  flex-direction: row; 
  flex-wrap: wrap; 
  justify-content: space-between; 
  width: 60%;
  margin-left: auto; 
  margin-right: auto;
}
.post-container{
  display: flex; 
  flex-direction: row; 
  flex-wrap: wrap; 
  justify-content: space-between; 
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer{
  display: flex; 
  flex-direction: row; 
  flex-wrap: wrap; 
  justify-content: center;
  width: 100%;
  padding: 5px 10px;
  background: var(--bg-color);
  border:1px dashed var(--border-color);
  font-size: 12px;
}

.post-list{
  width: 100%; 
  display: flex; 
  flex-direction: row; 
  flex-wrap: wrap; 
  justify-content: space-between; 
  align-items: center;
  padding: 5px 10px;
  margin-bottom: 5px;
  background:var(--bg-color);
  border: 1px dashed var(--border-color);
}

.post-list:hover{
  background: var(--bg-hover-color);
}

.post-list .post-title{width: 100%; color: var(--primary-font-color); font-weight: 500;}
.post-list .post-date{width: 20%; text-align: right;}

.post-header{
  width: 100%; 
  display: flex; 
  flex-direction: row; 
  flex-wrap: wrap; 
  justify-content: space-between; 
  align-items: center;
  padding: 5px 10px;
  margin-bottom: 5px;
  background:var(--bg-color);
  border:1px dashed var(--border-color);
}

.post-header .post-share{font-weight: 500; color: var(--primary-font-color); display: flex; justify-content: flex-end; align-items: center;}
.post-header .post-date{font-weight: 500;}
.post-header .post-share a{display: flex;}

.tags-container{
  width: 100%; 
  display: flex; 
  flex-direction: row; 
  flex-wrap: wrap; 
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.post-tag{margin-bottom: 5px;}

.tags{display: flex; flex-wrap: wrap; justify-content: space-between;}
.tag{background: var(--bg-color); padding: 5px 10px; margin-right: 10px; margin-bottom: 10px; display: flex; align-items: center;}

.navigation{
  width: 100%; 
  display: flex; 
  flex-direction: row; 
  flex-wrap: nowrap; 
  justify-content: space-between; 
  align-items: center;
  margin-bottom: 5px;
  background:var(--bg-color);
  border:1px dashed var(--border-color);

}
.navigation .prev{width: 45%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; color: var(--primary-font-color); font-weight: 500; padding: 5px 10px;}
.navigation .next{width: 45%; color: var(--primary-font-color); overflow: hidden; white-space: nowrap; text-overflow: ellipsis; font-weight: 500; text-align: right; padding: 5px 10px;}

.pagination{
  width: 100%; 
  display: flex; 
  flex-direction: row; 
  flex-wrap: wrap; 
  justify-content: space-between; 
  align-items: center;
  padding: 5px 10px;
  margin-bottom: 5px;
  background:var(--bg-color);
}
.pagination .prev{color: var(--primary-font-color); font-weight: 500;}
.pagination .next{color: var(--primary-font-color); font-weight: 500; text-align: right;}

.blog-post-content{
  width: 100%;
  font-size: 18px;
}

.post-tag{background: var(--bg-color); color:var(--primary-font-color); padding: 5px 10px;}

.profile{
  width: 100%; 
  display: flex; 
  flex-direction: row; 
  flex-wrap: wrap; 
  justify-content: space-between; 
  align-items: center;
  padding: 15px 10px 0;
  margin-bottom: 20px;
}
.profile-image-container{width: 40%;}
.profile-image{width: 128px; height: 128px; border-radius: 50%; transition: transform .2s;}
.profile-image:hover{transform: scale(1.05);}
.profile-about{width:100%;text-align:center}

.font-2{font-size: 2rem;}
.font-1-5{font-size: 1.5rem;}
.font-1-2{font-size: 1.2rem;}
.font-0-8{font-size: .8rem;}

.text-right{text-align: right;}
.w-100{width: 100%!important;}

a:hover{text-decoration: none;}
a{color: var(--primary-font-color); text-decoration: none;}
img{max-width: 100%;}
figure{margin:0; padding: 15px;}
pre{font-size: 14px; max-width: 90vw; overflow: auto;}
.social-icon{height: 24px;}

@media (min-width: 1200px){
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 800px;
  }
}

@media (min-width: 1440px){
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 960px;
  }
}
@media only screen and (max-width: 768px) {
  .container{width: 100%;}
  .mode:after {
    line-height: 22px;
    left: 1px;
  }
  h1{font-size: 1.5rem;}
  .profile-image{width: 96px; height: 96px;}
}

[data-theme="dark"] .social-icon{filter: invert(100%) sepia(50%) saturate(0%) hue-rotate(360deg) brightness(100%) contrast(100%);}
.mode {float: right;position: relative;margin: auto;width: 42px;height: 22px;background: #F1F2F4;border-radius: 20px;cursor: pointer;}
.mode:after {content: "☀️";position: absolute;top: 0;left: 4px;font-size: 14px;height: 22px;line-height: 23px;text-align: center;transition: all 0.3s ease;}
.mode.active {background: #10171e;}
.mode.active:after {content: "🌛";transform: translateX(20px);}
.mode.active span {transform: translateX(0);}
.mode span {position: absolute;z-index: 1;margin: 2px;display: block;width: 18px;height: 18px;background: white;border-radius: 50%;box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);transform: translateX(20px);transition: all 0.4s ease;}
