---
layout: compress
---

{% include header.html %}

<div class="container">
    <header class="profile">
        <div class="profile-about">

<div class="head1 txtcenter">
  <a href="/" class="l_0">
    <img loading="lazy" src="https://webtools.my.id/img/200x40.svg" alt="WEBTOOLS" width="200" height="40" id="logo" oncontextmenu="return false"/>
    <div class="l_1 l_y svg0 va-5"></div>
  </a>
  <h1>{{site.author.name}}</h1>
</div>

            <nav class="nav1">
                <ul>
                    <li><a href="/">Tools<span class="svg0 nav1_tools"></span></a></li>
                    <li><a href="/embed">Embed<span class="svg0 nav1_embed"></span></a></li>
                    <li>
                        <a>
                            <div class="mode" id="mode-switcher" onclick="toggleNightMode();"><span></span></div>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

{{ content }}

    <footer class="footer">
        <span>&#169; 2021 <a href="https://webtools.my.id">Webtools</a></span>
    </footer>
</div>

<script>
{% include script1.js %}
</script>

{% include footer.html %}
