---
layout: compress
---

{% include header.html %}
<div class="container">
  <div class="profile">
    <div class="profile-about">
      <h1>{{site.author.name}}</h1>
        <p>{{ site.author.bio }}</p>
        <nav class="nav1">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#">Tools</a></li>
            <li><a href="#">Collab</a></li>
          </ul>
        </nav>
    <div class="mode" id="mode-switcher" onclick="toggleNightMode();">
				<span></span>
    </div>
  </div>
  </div>
	{{ content }}
	<div class="footer">
		<span>&#169; 2021 <a href="https://webtools.my.id">Webtools</a></span>
	</div>
</div>
{% include footer.html %}
