---
layout: compress
---

{% include header.html %}

<div class="container">
    <header class="profile">
        <div class="profile-about">
            <div class="head1 txtcenter">
                <a href="/">
                    <img loading="lazy" src="https://webtools.my.id/img/logo.png" alt="WEBTOOLS" width="200" height="40" id="logo" oncontextmenu="return false" />
                </a>
                <h1>{{site.author.name}}</h1>
            </div>
            <nav class="nav1">
                <ul>
                    <li><a href="/" class="nav1_tools">Tools</a></li>
                    <li><a href="/embed" class="nav1_embed">Embed</a></li>
                    <li>
                        <a>
                            <div class="mode" id="mode-switcher" onclick="toggleNightMode();"><span></span></div>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

{{ content }}

    <footer class="footer">
        <span>&#169; 2021 <a href="https://webtools.my.id">Webtools</a></span>
    </footer>
</div>

<script>
setTimeout(function(){document.getElementById("logo").src="https://webtools.my.id/img/logo.svg"},4e3);
</script>

{% include footer.html %}
